@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-1xl: 1360px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}
@layer base {
  @font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url("/fonts/ITCAvantGardeStd-Bold.woff2") format("woff2"),
      url("/fonts/ITCAvantGardeStd-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url("/fonts/ITCAvantGardeStd-Demi.woff2") format("woff2"),
      url("/fonts/ITCAvantGardeStd-Demi.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url("/fonts/ITCAvantGardeStd-Md.woff2") format("woff2"),
      url("/fonts/ITCAvantGardeStd-Md.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url("/fonts/ITCAvantGardeStd-Bk.woff2") format("woff2"),
      url("/fonts/ITCAvantGardeStd-Bk.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url("/fonts/ITCAvantGardeStd-XLt.woff2") format("woff2"),
      url("/fonts/ITCAvantGardeStd-XLt.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 1.4rem;
  color: #000;
  font-weight: 300;
}
.inter {
  font-family: "Inter", sans-serif;
}
.urbanist,
.about-achievement-list h4 b {
  font-family: "Urbanist", sans-serif;
}
.oswald {
  font-family: "Oswald", sans-serif;
}
.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
}
.slick-slide > div {
  height: 100%;
}
.marquee-item {
  display: flex !important;
}
h2 strong,
h2 b {
  font-weight: 500;
}
.scroll-down-arrow {
  animation: scrollBounce 1.8s infinite ease-in-out;
  margin-top: -15px;
}

@keyframes scrollBounce {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(15px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.collection-gallery-slider .slick-dots {
  width: 100%;
  bottom: 2rem;
}
.collection-gallery-slider .slick-dots .slick-active {
  width: 3.3rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.collection-gallery-slider .slick-dots li {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #dddddd;
  border-radius: 50%;
  margin: 0 2px;
}
.collection-gallery-slider .slick-dots .slick-active button,
.collection-gallery-slider .slick-dots li.slick-active button:before {
  opacity: 0;
}

.collection-gallery-slider .slick-slide {
  height: inherit;
}
.collection-gallery-slider .slick-slide div {
  height: 100%;
}
.hp-testimonial-slider .slick-slide {
  margin: 0 1rem;
}
.hp-testimonial-slider .slick-arrow {
  display: none;
}
.hp-testimonial-slider.hp-written-testimonials .slick-arrow {
  display: inline-flex;
}
.hp-testimonial-slider .slick-arrow,
.dark-slider-arrow.slick-arrow {
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #303030;
  z-index: 10;
  transition: all 0.5s ease;
}
.hp-testimonial-slider .slick-arrow:hover,
.dark-slider-arrow.slick-arrow:hover {
  background-color: #fe0000;
}
.hp-testimonial-slider .slick-arrow.slick-disabled,
.dark-slider-arrow.slick-arrow.slick-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.slick-arrow:before,
.dark-slider-arrow.slick-arrow::before {
  display: none;
}
.hp-testimonial-slider .content {
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 0) 57.53%,
    rgba(27, 27, 27, 0.794629) 74.89%,
    #1b1b1b 100%
  );
}
.video-playing .play-icon {
  opacity: 0;
  visibility: hidden;
}
.absolute-center {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.red-tick-list li {
  position: relative;
  padding-left: 2rem;
}
.red-tick-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background: url("../public/images/tick-mark-red.webp") no-repeat center;
  background-size: contain;
}
.hp-sell-car-quotes .slick-dots {
  position: relative;
  display: flex !important;
  justify-content: center;
  margin-top: 2rem;
  top: 0;
}
.hp-sell-car-quotes .slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.hp-sell-car-quotes .slick-dots li.slick-active {
  background-color: #fe0000;
}
.hp-sell-car-quotes .slick-dots button {
  opacity: 0;
}
.slick-dots li button:before {
  display: none;
}
footer .active-menu img {
  transform: rotate(180deg);
}
.dark-slider-arrow.slick-arrow {
  display: none;
}
.contact-location-section .location-tag::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  bottom: -3px;
  left: 2rem;
  transform: rotate(45deg);
  z-index: -1;
  transition: all 0.5s ease;
}
.contact-location-section .location-tag.location-2::before {
  left: unset;
  right: 2rem;
}
.contact-location-section .location-tag.location-3::before,
.contact-location-section .location-tag.location-5::before {
  left: unset;
  bottom: unset;
  top: -3px;
  right: 2rem;
}

@keyframes scrollDotUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.scroll-dot {
  animation: scrollDotUpDown 2s ease-in-out infinite;
}
.pulse {
  animation: pulseScale 1.8s ease-in-out infinite;
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.list-car-process-count {
  -webkit-text-stroke: 1px #fe0000;
}
.show-from-bottom {
  animation: showFromBottom 1s ease-in-out;
}
.show-from-top {
  animation: showFromTop 1s ease-in-out;
}
@keyframes showFromBottom {
  0% {
    transform: translateY(15rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes showFromTop {
  0% {
    transform: translateY(-15rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.detail-banner-arrow{
  z-index: 5;
}
.detail-banner-arrow.slick-prev{
  left: 2rem;
}
.detail-banner-arrow.slick-next{
  right: 2rem;
}
.tabContainer {
  display: none;
}
.tabContainer.active {
  display: block;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 639px) {
  html {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .details-banner-slider .slick-dots button {
    display: inline-block;
    color: transparent;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 1px solid #444444;
    border-radius: 50%;
  }
 
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 1199px) {
  .hp-testimonial-slider.hp-written-testimonials .slick-prev,
  .hp-testimonial-slider.hp-written-testimonials .slick-next {
    top: unset;
    bottom: -10rem;
  }
  .hp-testimonial-slider.hp-written-testimonials .slick-prev {
    left: calc(50% - 6rem);
  }
  .hp-testimonial-slider.hp-written-testimonials .slick-next {
    right: calc(50% - 6rem);
  }
}

@media only screen and (min-width: 768px) {
  .hp-sell-car-quotes .slick-dots {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .hp-sellcar-usps li:nth-last-child(2) {
    border-bottom: 1px solid #d4d4d4;
  }
  .contact-location-section .location-tag:hover::before {
    background-color: black;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 0.6vw;
  }
  .container {
    width: 88%;
    padding: 0 30px;
  }
  .hp-whyus-usp-item {
    box-shadow: -37px 4px 34px 0px #0000004f;
    transition: all 0.5s ease;
  }
  .hp-whyus-usp-item:nth-of-type(1),
  .hp-whyus-usp-item:nth-of-type(4) {
    transform: rotate(8deg);
  }
  .hp-whyus-usp-item:nth-of-type(2),
  .hp-whyus-usp-item:nth-of-type(5) {
    transform: rotate(-8deg);
  }
  .hp-whyus-usp-item:nth-of-type(1):hover,
  .hp-whyus-usp-item:nth-of-type(4):hover,
  .hp-whyus-usp-item:nth-of-type(2):hover,
  .hp-whyus-usp-item:nth-of-type(5):hover {
    transform: rotate(0);
  }
  .hp-whyus-usp-item:nth-of-type(3):hover {
    transform: rotate(8deg);
  }
  .hp-testimonial-slider .slick-slide {
    margin: 0 2rem;
  }
  .hp-testimonial-slider.hp-written-testimonials .slick-slide {
    margin: 0 1.5rem;
  }

  .hp-testimonial-slider .slick-arrow,
  .dark-slider-arrow.slick-arrow {
    display: flex;
    width: 7.5rem;
    height: 7.5rem;
  }
  .hp-testimonial-slider .slick-arrow:hover,
  .dark-slider-arrow.slick-arrow:hover {
    background-color: #fe0000;
  }
  .hp-testimonial-slider .slick-arrow.slick-disabled,
  .dark-slider-arrow.slick-arrow.slick-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
  .red-tick-list li {
    padding-left: 4rem;
  }
  .red-tick-list li::before {
    top: 4rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .hp-sell-car-quotes .slick-dots {
    margin-top: 4rem;
  }
  .collection-gallery-slider .slick-dots li {
    width: 0.8rem;
    height: 0.8rem;
  }
  .full-width-gallery-slider .slick-prev {
    left: 10%;
  }
  .full-width-gallery-slider .slick-next {
    right: 10%;
  }
  .list-car-process-count {
    -webkit-text-stroke: 2px #fe0000;
  }
  .list-car-process-item:nth-child(even) .text-box > div {
    margin-left: auto;
  }
}
@media only screen and (min-width: 1360px) {
  html {
    font-size: 0.57vw;
  }
}
@media only screen and (min-width: 1536px) {
  html {
    font-size: 0.55vw;
  }
  .container {
    width: 85%;
    max-width: 1500px;
  }
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
